*{padding:0;margin:0;font-family:sans-serif;box-sizing:border-box;
}
body{background: #1F222B;}
/* flexbox contianer class */ 
[class*="container-"]{
    display: flex;
    font-size: calc(6px + 2vw + 2vh);
    justify-content: center;
    transition: 0.3s; /*fade effect*/
    padding : 0; 
}
/* LOGO */.container-1{opacity:0.6;}
/* CAMAGRU */.container-2{color:white;font-weight:700;letter-spacing:8px;background:#1F222B;}
/* EDITOR */.container-3{color:#6ab04c;}
/*green banner */.container-4{color:white;background-color:#6ab04c;opacity:0.6;justify-content:center;font-size:calc(6px + 1vw + 1vh);}
/* Input boxes */.container-5{color:white;}
/* Login button*/.container-6{color:white;font-size: 100%;justify-content:flex-end;opacity: 0.6;}
/* Signup button */.container-7{color:white;font-size: 100%;justify-content:flex-start;opacity: 0.6;}
/* Nav buttons */.container-8{color:white;justify-content:flex-start;opacity:0.6;height:8vh;padding: 10px;}
/* Nav bar */.container-9{font-size:20px;align-items:center;}
/* camera buttons */.container-10{justify-content: space-between;color:white;font-size:30px;padding:4px 5px}

.container-9 > li{
    flex : 1;
    background-color: rgb(14, 15, 17);
    padding-top: 3px;
    height : 35px;
    
}
.logo{height:150px;width:150px;}
.textarea{
    color:white; 
    resize:none;
    overflow:none;
    font-size: calc(4px + 1vw + 1vh);
    height: 4.5vh;
    width: 40vw;
    border:0;
    outline:0px;
    background-color:rgb(82, 88, 108);
}
/*hover psuedo-classes */
.container-1:hover, .container-4:hover, .container-6:hover, 
.container-7:hover, .container-8:hover,.overlay, li:hover, 
.footer:hover, .camera_roll_pic:hover{
    opacity: 1
}
.links{
    text-decoration: none;
    color: white;
}
.footer{
    color : white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:#1F222B;
    transition: 0.3s; /*fade effect*/
    opacity: 0.6; 
}
/* image classes */
img{
    opacity : 1;
    transition: 0.3s; /*fade effect*/
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
/* column layout: four columns */ 
.column{
    flex : 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
}
/* media query: two columns */ 
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
/* media query: one column */ 
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .container-9{
        flex-wrap : wrap;
        font-size: 5vw;
    }
}
/* media query: mobile */ 
@media screen and (max-width: 400px) {
    .container-9 > li{
        flex-basis : 100%;
    }
    .container-9{
        flex-wrap : wrap;
        font-size: 8vw;
    }
    .container-4{
        font-size: calc(30px);
    }
    .textarea{
        font-size: 20px;
        width : 200px;
    }
}
/*nav bar */
ul{
    list-style : none;
}
li{
    text-align : center;
    color: white;
    opacity : 0.6;
    transition: 0.3s;
}
nav{
    color : white;
    position: relative;
    left: 0;
    bottom: 20%;
    width: 100%;
    text-align: center;
    background-color:#1F222B;
    transition: 0.3s; /*fade effect*/
    opacity: 0.6; 
}

/* CAROUSEL */ 
.fling-minislide {width:100%; height:0px; padding-bottom: 50%; overflow:hidden; position:relative; }
.fling-minislide img{ 
    position:absolute; 
    animation:fling-minislide 20s infinite; 
    opacity:0; 
    width: 100%; 
    height: 100%;
}

@keyframes fling-minislide {
    25%{
        opacity:1;
    } 
    40%{
        opacity:0;
    }
} 
.fling-minislide img:nth-child(4){
    animation-delay:0s;
}
.fling-minislide img:nth-child(3){
    animation-delay:5s;
}
.fling-minislide img:nth-child(2){
    animation-delay:10s;
}
.fling-minislide img:nth-child(1){
    animation-delay:15s;
}

/* camera */ 
.camera{
    width: 400px;
    margin: 0 auto;
}
#camera_overlay {
    position:absolute;
    float:left;
    width:400px;
    min-height:400px;
    z-index:10;
}
#filter_overlay{
    position:absolute;
    float:left;
    width:400px;
    min-height:400px;
    z-index:10;
    /*background-color: beige; */ 
}
#canvas{
    height: 0;
    width: 0;
}
#camera_roll{
    width: 400px;
    margin: 0 auto;
}
.camera_roll_pic{
    opacity: 0.6;
    transition: 0.3s;
}
/*filters */
.choice{
    height : 40px;
    padding-left: 5px;
    transition: 0.3s;
    opacity: 0.6;
    z-index: 0;

}
.choice:hover{
    opacity: 1;
    height : 100px;
    z-index: 999;
    padding-left: 40px;
}
.choice:traget{
    opacity: 1;
}
label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from do cument flow */
  }
  label > input + img, label > input + i { /* adj sibling selector, target the image next to the hidden radio */
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img, label > input:checked + i { /* (RADIO CHECKED) IMAGE STYLES */
    opacity: 1;
    box-shadow: 10px 0px white;
  }
/* CSS + Inline Image Technique:*/ 
#new_filter{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    margin-top: -25%; /* Half the height */
    margin-left: -25%; /* Half the width */
    /*background-color: blue; */
  }
  .new_overlay{
        position:absolute;
        float:left;
        width:80px;
        min-height:60px;
        z-index:10;
        background-color: beige;  
        opacity : 0.6;
        transition : 0.3s;
    }