*{
    padding: 0;
    margin : 0;
    font-family: sans-serif;
}
body{
    background: #1F222B;
}
.logo{
    height: 150px;
    width: 150px;
    
}
[class*="container-"]{
    display: flex;
    
}
/* LOGO */
.container-1{
      justify-content: center;
      transition: 0.3s; /*fade effect*/
      opacity: 0.6;
    
}
/* CAMAGRU */
.container-2{
    color: white;
    font-size: calc(10px + 2vw + 2vh);
    font-weight : 700;
    letter-spacing: 8px;
    background: #1F222B;
    justify-content: center;
}
/* EDITOR  change to em scaling*/
.container-3{
    color: #6ab04c;
    font-size: calc(8px + 2vw + 2vh);
    justify-content: center;
}
.container-4{
    padding: 4px;
    color: white;
    justify-content: center;
    background-color: #6ab04c;
    transition: 0.3s; /*fade effect*/
    opacity: 0.6; 
}
/* INPUT BOXES */
.container-5{
    color: white;
    justify-content: center;
}
.container-6{
    color: white;
    justify-content: flex-end;
    padding : 5px;
    transition: 0.3s; /*fade effect*/
    opacity: 0.6; 
}
.container-7{
    color: white;
    justify-content: flex-start;
    height: 50px;
    width: 50px;
    padding : 5px;
    transition: 0.3s; /*fade effect*/
    opacity: 0.6; 
}
.textarea{
    color:white; 
    resize:none;
    overflow:none;
    font-size: calc(6px +3vw);
    border:0px;
    outline:0px;
    background-color:rgb(82, 88, 108);
}
/*psuedo-class*/
.container-1:hover{
    opacity: 1
}
.container-4:hover{
    opacity: 1
}
.container-6:hover{
    opacity: 1
}
.container-7:hover{
    opacity: 1
}
.links{
    text-decoration: none;
    
}
.container span{
    color : white;
    display: block;
}
.footer{
    color : white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:#1F222B;
    transition: 0.3s; /*fade effect*/
    opacity: 0.6; 
}
.footer:hover{
	opacity : 1;
}
